@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


body {
    background-color: rgb(206, 240, 168);
    font-family: "Playwrite DK Loopet";
}

#juego {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(206, 240, 168);
    text-align: center;
}

#tituloJuego{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
}

/* Estilos generales */
#game-container { 
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border: 1px solid #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                inset 0 -2px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.cell:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 
                inset 0 2px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(2px);
}

.cell.revealed {
    background-color: #eee;
    cursor: default;
    box-shadow: none;
    border: 1px solid #ddd;
}

.cell.mine.revealed {
    background-color: red;
    color: white;
}

.cell.flag {
    background-color: yellow;
}

#toggleFlagMode {
    margin-bottom: 20px;
    font-family: "Playwrite DK Loopet";
    font-size: 16px;
}

#botonReset {
    margin-top: 20px;
    font-family: "Playwrite DK Loopet";
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para pantallas pequeñas */
.small-screen #game-container { 
    grid-template-columns: repeat(10, 30px);
}

.small-screen .cell {
    width: 30px;
    height: 30px;
    font-size: 15px;
}

#antesJuego{
    text-align: center;
    
}

#antesJuego  button{
    font-family: "Playwrite DK Loopet";
    font-size: 16px;
    margin: 10px;
}
